<h2>Editar perfil</h2>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput>
    </mat-form-field>
</p>
<p>
    <button mat-raised-button color="primary"><mat-icon>save</mat-icon>Guardar</button>
</p>
<br><br>
<p>
    <button mat-raised-button color="warn"><mat-icon>delete_forever</mat-icon>Darte de baja</button>
</p>